<ul class="puppy">
  <li><img class="img-circle" src="{{image}}" alt="{{name}}"></li>
  <li><h2>{{name}}</h2></li>
  <li>Breed: {{breed}}</li>
  <li>Owner: {{owner}}</li>
  <li><a href="/puppies/{{id}}/edit">Edit</a></li>
</div>
